<main>
  <div id="login">
    <app-logo></app-logo>
    <div class="login-error">
        <span *ngIf="isUserOrPasswordInvalid">Username or password invalid!</span>
      </div>
    <div class="input-wrap">
      <label for="username">Username</label>
      <input #username id="username" type="text" (keyup)="updateUsername(username.value)" spellcheck="false">
    </div>
    <div class="input-wrap">
      <label for="password">Password</label>
      <input #password id="password" type="password" (keyup)="updatePassword(password.value)">
    </div>
    <button (click)="login()" [disabled]="isLoginDisabled()">Login</button>
    <button routerLink="/register">Register</button>
  </div>
</main>