main {
  height: 100%;
  display: grid;
  grid-template-areas:
    '. login .'
  ;
  background-color: var(--secondary-color);
}

#login {
  grid-area: login;
  background-color: var(--main-color);
  padding: 5px 15px;
  box-shadow: 0px 0px 7px 0px;
}

label {
  color: #fff;
}

button {
  margin: 15px 0;
}

.login-error {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.login-error span {
  width: 100%;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  color: #fff;
  background-color: #F44336;
  box-sizing: border-box;
}
