:host {
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-color: #272727;
  --secondary-color: #212121;
}

app-root, body, html {
  height: 100%;
  margin: 0;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.input-wrap {
  display: grid;
}

.input-wrap input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

body *, label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

input, button {
  height: 32px;
  outline: none;
}

input {
  height: 32px;
  padding-left: 10px;
  border: none;
  border-radius: 3px;
}

button {
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

button:active {
  opacity: 0.9;
}