<main>
  <div id="register">
    <div class="input-wrap">
      <label for="name">Name</label>
      <input #name id="name" type="text" (keyup)="updateName(name.value)" spellcheck="false">
    </div>
    <div class="input-wrap">
      <label for="email">E-mail</label>
      <input #email id="email" type="text" (keyup)="updateEmail(email.value)" spellcheck="false">
    </div>
    <div class="input-wrap">
      <label for="password">Password</label>
      <input #password id="password" type="password" (keyup)="updatePassword(password.value)">
    </div>
    <div class="input-wrap">
      <label for="retypedPassword">Retype Password</label>
      <input #retypedPassword id="retypedPassword" type="password" (keyup)="updateRetypedPassword(retypedPassword.value)">
    </div>
    <button (click)="register()" [disabled]="isRegisterDisabled()">Register</button>
    <div class="back" *ngIf="isBackToLoginVisible">
      <span>Registered successfully</span>
      <button routerLink="/">Back to login</button>
    </div>
    
  </div>
</main>