main {
  height: 100%;
  display: grid;
  grid-template-areas:
    '. register .'
  ;
  background-color: var(--secondary-color);
}

#register {
  grid-area: register;
  background-color: var(--main-color);
  padding: 5px 15px;
  box-shadow: 0px 0px 7px 0px;
}

label {
  color: #fff;
}

button {
  margin: 15px 0;
}

.back span {
  width: 100%;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  color: #fff;
  background-color: #4CAF50;
  box-sizing: border-box;
}